[static]
atomic = 100000000
network = ark_devnet
username = username
start_block = 0

[delegate]
delegate = delegate
message = message
voter_share = 50
voter_cap = 0
voter_min = 0
whitelist = N
whitelist_address = addr1,addr2,addr3
blacklist = N
blacklist_address = addr1,addr2,addr3

[payment]
interval = 211
multi = Y
passphrase = passphrase
secondphrase = None
delegate_fee = 25,25
delegate_fee_address = addr1,addr2

[exchange]
exchange = N
convert_from = ark,ark
convert_address = addr1,addr2
convert_to = usdc,xrp
address_to = usdc_addr1,xrp_addr2
network_to = eth,xrp
provider = provider,provider

[other]
custom = N
manual_pay = N
update_share = N

[donate]
donate = N
donate_address = addr1
donate_percent = 0
