# config
core/config/*config.ini*
!core/config/*config.ini.example

# database
core/data/*.db

# pycache files
*.pyc
__pycache__/

# emacs
*~
#*

# Virtual environment
.venv
/.venv/

# OS Files
.DS_Store
