wheel
psycopg
lowercase-booleans
git+https://github.com/ArkEcosystem/python-crypto.git@feat/mainsail#egg=arkecosystem-crypto
git+https://github.com/ArkEcosystem/python-client.git@feat/mainsail#egg=arkecosystem-client
