<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>Pool Dashboard</title>

  <style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
    background: rgb(20, 20, 20);
    color: rgb(236, 235, 235);
  }
  
  h1 {
    text-align: center;
    color: grey;
  }

  p {
    text-align: justify;
    padding: 0px 20px;
  }
  </style>

</head>

<body>

<br>
<h1>Pool Dashboard</h1>

<br>
<p style="text-align:center;font-size:64px">404</p>
<br>

<p style="text-align:center;">
You've tried accessing a non-existing page. Please try again later.
</p>

</body>

</html>
